.list{
  padding: 0;
  margin: 20px auto;
  max-width: 90%;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.card{
  list-style: none;
  box-shadow: 2px 2px 5px 4px gray;
  padding: 10px;
  div{
    display: flex;
    gap: 10px;
  }
}
.tags{
  padding: 10px;
  list-style: none;
  li{
    font-weight: bold;
    color:blue;
  }
}