.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.card{
  display: flex;
  flex-direction: column;
  gap:10px;
  box-shadow: 4px 4px 6px 3px gray;
  padding: 15px;
}

.img_wrapper{
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;

  img{
    transition: all .4s ease;
    cursor: pointer;

    &:hover{
      transform: scale(1.1);
    }
  }
 
}

.name{
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: var(--green)
}

.status{
  font-weight: bold;
}
.red{
  color:red;
}
.green{
  color:green;
}