/* src/index.css */


:root{
  --green: green
}

*{
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;

}
.btn{
  padding: 10px 22px;
	border-radius: 4px;
	border: none;
	background-color: white;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
  font-size: 2.5rem;
	&:hover {
		background-color: #091ec2;
		color: white;
	}
}
.border{
  border: 1px solid black;
}
.flex{
  display: flex;
  gap:20px;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.header{
  background-color: teal;
  padding: 10px 20px;
  font-size: 1.5rem;
  color:white;
  font-weight: bold;
}
.title{
  color:red;
}