/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --green: green
}

*{
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;

}
.btn{
  padding: 10px 22px;
	border-radius: 4px;
	border: none;
	background-color: white;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
  font-size: 1.5rem;
	&:hover {
		background-color: #091ec2;
		color: white;
	}
}
.border{
  border: 1px solid black;
}
.flex{
  display: flex;
  gap:20px;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.header{
  background-color: teal;
  padding: 10px 20px;
  font-size: 1.5rem;
  color:white;
  font-weight: bold;
}
.title{
  color:red;
}


.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input{
  padding: 5px 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 1px gray;
  font-size: 1.5rem;
}
.label{
  display: flex;
  flex-direction: column;
  gap:4px;
  font-weight: bold;
}

.form{
  display: flex;
  flex-direction: column;
  gap:15px;
  padding: 25px;
  box-shadow: 0 0 9px 5px black;
  background-color: white;
}
.formWrapper{
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}
.red{
  color:red;
  font-size: 1rem;
}
.addForm{
  width: 40%;
  margin: 20px auto;
}